@model IEnumerable<Student>
@{
    Layout = "_Layout";
    ViewBag.Title = "students List";
}


    <table class="table table-dark">
        <thead>
            <tr>
                <td>student id</td>
                <td>student name</td>
                <td>student age</td>
                <td>student email</td>
                <td>student username</td>
                <td>student department</td>
                <td>details</td>
                <td>delete</td>
                <td>edit</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.age</td>
                    <td>@item.email</td>
                    <td>@item.username</td>
                    <td>@item.Department.DeptName</td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-controller="Student" asp-route-id=@item.id>details</a></td>
                    <td><a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.id >delete</a></td>
                    <td><a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.id >Edit</a></td>
                
                 </tr>
            }
            <tr>
                
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" asp-action="create" asp-controller="Student">add student</a>
